/*
 * Copyright (C) 2020 Deepak Khatri <deepaklorkhatri7@gmail.com>
 *
 * Virtual cape for /bone/uart/2
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */
 
/dts-v1/;
/plugin/;

&{/chosen} {
    overlays {
        BONE-UART2-00A0 = __TIMESTAMP__;
    };
};

&ocp {
    P9_21_pinmux { status = "disabled"; };
    P9_22_pinmux { status = "disabled"; };
};

&bone_uart_2 {
    status = "okay";
};